.contacts {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: @bg-white;
}

.contacts__color {
  background-color: @bg-lightgrey;
}

.contacts__title {
  display: block;
  width: 125px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @bg-almostblack;
  text-transform: uppercase;
}

.contacts__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: @bg-bluishblack;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 26px;
}

.contacts-wrapper__color {
  background-color: @bg-lightgrey;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  width: 139px;
}

.contacts__map {
  position: relative;
  z-index: 5;
  margin-bottom: -3px;
  border: none;
}

.contacts__map-wrap {
  position: relative;
  height: 362px;
}

.contacts__map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 362px;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -38px;
  z-index: 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }

  &::after {
    content: "";
    position: absolute;
    left: 130px;
    top: 138px;
    width: 60px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 60px 53px;
    z-index: 0;

    @media (min-width: 320px) {
      background-image: url("../img/map-pin.webp");
      background-size: 60px 53px;
    }
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    width: @tablet-width;
  }

  .contacts__title {
    align-self: center;
    width: 154px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__description {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &:first-child {
      margin-bottom: 21px;
    }
  }

  .contacts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 625px;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 57px;
  }

  .description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 154px;
  }

  .contacts__map {
    position: relative;
    z-index: 5;
    width: @tablet-width;
    height: 396px;
  }

  .contacts__map-wrap {
    position: relative;
    height: 396px;
  }

  .contacts__map-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 768px;
    min-height: 396px;
    margin: 0 auto;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 -4px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: @tablet-width auto;
    }

    &::after {
      content: "";
      position: absolute;
      left: 326px;
      top: 146px;
      width: 115px;
      height: 106px;
      background-image: url("../img/map-pin.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 115px 106px;
      z-index: 0;

      @media (min-width: 768px) {
        background-image: url("../img/map-pin.webp");
        background-size: 115px 106px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    width: @desktop-width;
  }

  .contacts-place {
    position: absolute;
    top: 95px;
    left: 40px;
    z-index: 10;
    width: 570px;
    height: 201px;
    background-color: @bg-white;
  }

  .contacts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 405px;
    padding-right: 90px;
    padding-left: 76px;
    padding-top: 63px;
    padding-bottom: 60px;
  }

  .contacts__description {
    margin-bottom: 20px;
    text-align: left;

    &:nth-of-type(2) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .contacts__map {
    position: relative;
    z-index: 5;
    width: @desktop-width;
    height: 399px;
  }

  .contacts__map-wrap {
    position: relative;
    height: 399px;
  }

  .contacts__map-image {
    z-index: 1;
    width: @desktop-width;
    min-height: 399px;
    margin: 0 auto;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: -70px 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: @desktop-width auto;
    }

    &::after {
      content: "";
      position: absolute;
      left: 932px;
      top: 150px;
      width: 115px;
      height: 106px;
      background-image: url("../img/map-pin.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 115px 106px;
      z-index: 0;

      @media (min-width: 1300px) {
        background-image: url("../img/map-pin.webp");
        background-size: 115px 106px;
      }
    }
  }
}
