.contacts {
  margin: 0 auto;
  width: 320px;
  background-color: @bg-white;
}

.contacts__color {
  background-color: @bg-lightgrey;
}

.contacts__title {
  display: block;
  margin: 0;
  width: 125px;
  padding: 0;

  color: @bg-almostblack;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__description {
  margin: 0;
  padding: 0;

  color: @bg-bluishblack;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 26px;
  width: 280px;
}

.contacts-wrapper__color {
  background-color: @bg-lightgrey;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  width: 139px;
}

.contacts__map-image {
  margin: 0 auto;
  width: 320px;
  min-height: 362px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -38px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: @tablet-width;
  }

  .contacts__title {
    align-self: center;
    font-size: 20px;
    line-height: 25px;
    width: 154px;
  }

  .contacts__description {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &:first-child {
      margin-bottom: 21px;
    }
  }

  .contacts-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
    padding-bottom: 57px;
    width: 625px;
  }

  .description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 154px;
  }

  .contacts__map-image {
    margin: 0 auto;
    width: 768px;
    min-height: 396px;

    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 -4px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    width: @desktop-width;
  }

  .contacts-place {
    position: absolute;
    top: 95px;
    left: 40px;

    width: 570px;
    height: 201px;

    background-color: @bg-white;
    z-index: 10;
  }

  .contacts-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
    padding-left: 76px;
    padding-top: 63px;
    padding-bottom: 60px;
    width: 405px;
  }

  .contacts__description {
    text-align: left;
    margin-bottom: 20px;

    &:nth-of-type(2) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .contacts__map-image {
    margin: 0 auto;
    width: @desktop-width;
    min-height: 399px;

    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: -70px 0;
    z-index: 1;
  }
}
