.effects {
  margin: 0 auto;
  width: 320px;
  margin-bottom: 12px;
  padding: 0;

  background-color: #ffffff;
}

.effects__list {
  min-width: 280px;
  .list-reset();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.effects__item {
  padding: 20px;
  background-color: @bg-lightgrey;
  min-width: 280px;
  /* Временно для сетки */
  min-height: 266px;
}

.effects__title {
  margin: 0;
  padding: 0;

  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.effects__description {
  margin: 0;
  padding: 0;

  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.effects__folder {
  margin: 0;
  padding: 0;

  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .effects {
    width: @tablet-width;
  }

  .effects__item {
    min-width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .effects {
    width: @desktop-width;
  }

  .effects__list {
    flex-direction: row;
  }

  .effects__item {
    min-width: 570px;
  }
}
