.effects {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;
  width: 280px;
}

.effects__list {
  display: flex;
  width: 280px;
  margin: 0 auto;
  min-height: 552px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  .list-reset();
}

.effects__item {
  position: relative;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 29px;
  padding-bottom: 20px;
  background-color: @bg-lightgrey;
  z-index: 1;
}


.effects--slim {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: -5px;
    left: 2px;
    z-index: -1;

    width: 50px;
    height: 50px;

    background-color: @bg-ligthgreen;
    border-radius: 50%;
  }
}

.effects--slim-img {
  position: absolute;
  top: -7px;
  left: 10px;
  z-index: 5;
}

.effects--pro {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: -5px;
    left: 2px;

    width: 50px;
    height: 50px;

    background-color: @bg-ligthgreen;
    border-radius: 50%;
    z-index: -1;
  }
}

.effects--pro-img {
  position: absolute;
  top: 5px;
  left: -8px;
  z-index: 5;
}

.effects-wrapper {
  display: flex;
}

.effects__title {
  margin: 0;
  margin-left: 71px;
  margin-bottom: 30px;
  padding: 0;

  color: @bg-almostblack;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.effects__description {
  position: relative;

  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  color: @bg-bluishblack;
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  &::after {
    content: "";

    position: absolute;
    bottom: -22.5px;
    right: 0;

    width: 240px;
    height: 1px;

    background-color: @bg-darkgrey;
  }
}

.effects-folder {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.effects__linkstyle {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 10;

  color: @bg-almostblack;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 96px;

    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 10;
  }
}

.effects__linkstyle:hover {
  &::after {
    width: 33px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }
}

.effects__linkstyle:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .effects {
    display: flex;
    padding: 0 30px;
    width: @tablet-width;
    margin-bottom: 45px;
  }

  .effects--slim {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 14px;
      left: 395px;

      width: 200px;
      height: 200px;

      background-color: @bg-ligthgreen;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .effects--slim-img {
    position: absolute;
    top: 2px;
    left: 425px;
    z-index: 5;
    width: 140px;
    height: 194px;
  }

  .effects--pro {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 14px;
      left: 396px;

      width: 200px;
      height: 200px;

      background-color: @bg-ligthgreen;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .effects--pro-img {
    position: absolute;
    top: 59px;
    left: 360px;
    z-index: 5;
    width: 268px;
    height: 112px;
  }

  .effects__list {
    display: flex;
    width: 708px;
    margin: 0 auto;
    min-height: 775px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    .list-reset();
  }

  .effects__item {
    padding-top: 78px;
    padding-left: 52px;
    padding-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
      padding-top: 76px;
    }
  }

  .effects__title {
    margin-left: 2px;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 37px;
  }

  .effects__item:last-child .effects__description {
    max-width: 340px;
    letter-spacing: -0.2px;
  }

  .effects__description {
    font-size: 16px;
    line-height: 24px;
    max-width: 380px;
    letter-spacing: -0.1px;

    margin-bottom: 56px;

    &::after {
      content: none;
    }
  }

  .effects__linkstyle {
    font-size: 20px;
    line-height: 20px;

    &::after {
      content: "";

      position: absolute;
      top: 9px;
      left: 132px;

      width: 24px;
      height: 11px;

      background-image: url("../img/icon-right-arrow-long.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: 10;
    }
  }
}

@media (min-width: @desktop-width) {
  .effects {
    width: 1300px;
    margin: 0 auto;
    padding-left: 40px;
    margin-bottom: 74px;
  }

  .effects__list {
    flex-direction: row;
    min-height: 372px;
    min-width: 1220px;
  }

  .effects--slim {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: -29px;
      left: 0;

      width: 100px;
      height: 100px;

      background-color: @bg-ligthgreen;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .effects--slim-img {
    position: absolute;
    top: -35px;
    left: 15px;
    z-index: 5;
    width: 70px;
    height: 97px;
  }

  .effects--pro {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: -29px;
      left: 0;

      width: 100px;
      height: 100px;

      background-color: @bg-ligthgreen;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .effects--pro-img {
    position: absolute;
    top: -6px;
    left: -17px;
    z-index: 5;
    width: 134px;
    height: 56px;
  }

  .effects__title {
    margin-left: 163px;
    margin-bottom: 74px;
    font-size: 36px;
    line-height: 37px;
  }

  .effects__item {
    max-width: 570px;
    padding-top: 76px;
    padding-right: 55px;
    margin-bottom: 0;

    &:last-child {
      padding-right: 68px;
      margin-right: 0;
    }
  }

  .effects__description {
    max-width: 463px;
    margin-bottom: 32px;
    letter-spacing: -0.2px;
  }

  .effects__item:last-child .effects__description {
    max-width: 450px;
  }
}
