.example {
  margin: 0 auto;
  width: 320px;
  background-color: @bg-lightgrey;

  /* Временно для сетки */
  min-height: 705px;
}

.example__title {
  margin: 0;
  padding: 0;
  padding-bottom: 33px;

  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__description {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  color: #444444;
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example__statistics {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.example__characteristic {
  color: #444444;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.example__cost {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__image {
  width: 311px;
  min-height: 232px;

  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #f2f2f2;
}

.example__range {
  margin: 0;
  padding: 0;

  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example {
    width: @tablet-width;
    background-color: #ffffff;
    /* Временно для сетки */
    min-height: 1081px;
  }

  .example__image {
    margin: 0 auto;
    width: 677px;
    min-height: 499px;

    background-image: url("../img/before-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .example__image-wrapper {
    background-color: @bg-lightgrey; /* Два разных цвета фона и две кошки */
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .example__statistics {
    font-size: 30px;
    line-height: 37px;
  }

  .example__characteristic {
    font-size: 14px;
    line-height: 14px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 20px;
  }

  .example__range {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: 1220px;
    background-color: @bg-lightgrey;
    /* Временно для сетки */
    min-height: 662px;
  }

  .example__title {
    background-color: #ffffff;
  }

  .example__image {
    width: 677px;
    min-height: 499px;

    background-image: url("../img/before-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .example-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
