.example {
  background-color: #f2f2f2;

  /* Временно для сетки */
  min-height: 705px;
}

@media (min-width: @tablet-width) {
  .example {
    /* Временно для сетки */
    min-height: 1081px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    /* Временно для сетки */
    min-height: 662px;
  }
}

.example__title {
  margin: 0;
  padding: 0;
  padding-bottom: 33px;

  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__description {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example__statistics {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.example__characteristic {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.example__cost {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__range {
  margin: 0;
  padding: 0;

  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
