.main-nav {
  margin: 0 auto;

  width: 320px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: #ffffff;

  .page-wrapper {
    padding: 20px;
  }
}

.main-nav__list {
  .list-reset();
}

.site-list {
  /* Временно для сетки */
  min-height: 199px;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    margin-left: 66px;
    margin-right: 20px;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
    width: 516px;
    /* Временно для сетки */
    min-height: 110px;
  }
}


@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    margin-left: 132px;
    margin-right: 110px;
  }

  .site-list {
    width: 720px;
    justify-content: flex-end;
    /* Временно для сетки */
    min-height: 140px;
  }
}

.main-nav__item {
  text-align: center;
  vertical-align: middle;
}

.main-nav__toggle { // пока для удобства
  display: none;
}

.main-nav__link {
  color: #111111;
}
