.optional-goods {
  background-color: #ffffff;
}

.optional-goods__main-title {
  margin: 0;
  padding: 0;

  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.optional-goods__list {
  .list-reset();
}

.optional-goods__title {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.optional-goods__property {
  margin: 0;
  padding: 0;

  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.optional-goods__description {
  position: absolute;

  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
