.page-header {
  background-color: #ffffff;
}

.page-header__logo {

  margin-left: 20px; //надо?
  .page-header__logo-image {
    margin-top: 11px;
  }
}

.page-header__logo-name {
  margin: 23px 57px;
  margin-right: 65px;
}
