.page-footer {
  display: flex;
  //padding-top: 19px;
  background-color: #f2f2f2;

  .page-wrapper {
    margin: 0 auto;
  }
}

.page-footer__logo-name {
  margin-left: 76px;
}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__link {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
