.page-header {
  background-color: #ffffff;

  .page-wrapper {
    padding-top: 11px;
    padding-bottom: 16px;
  }
}

.page-header__logo-name {
  margin-top: 4px;
  margin-left: 57px;
  margin-right: 65px;
}
