.program-selection {
  width: 320px;
  margin: 0 auto;
  background-color: @bg-white;
}

.program-selection__main-title {
  margin: 0;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 26px;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @bg-almostblack;
}

.program-selection__description {
  width: 226px;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 22px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @bg-almostblack;
  text-transform: uppercase;
}

.program-selection__wrapper {
  padding: 0;
  border: none;
}

.program-selection__box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: stretch;
  min-height: 202px;
}

.program-selection__box p {
  margin: 0;
}

.program-selection__label {
  margin-left: 18px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @bg-blackbrown;
  text-transform: uppercase;
}

input[type] {
  height: 42px;
  padding-left: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: @bg-bluishblack;
  text-transform: uppercase;
  vertical-align: center;
  border: 1px solid rgba(205, 205, 205, 0.5);
  box-sizing: border-box;

  &:hover {
    border: 1px solid @bg-darkgrey;
  }

  &:focus,
  &:active {
    border: 2px solid @bg-bluishblack;
    outline: none;
  }

  //&:invalid {
  //  border: 2px solid @bg-errorform;
  //}
}

::-webkit-input-placeholder {
  color: @bg-bluishblack;
}

::-moz-placeholder {
  color: @bg-bluishblack;
}

:-moz-placeholder {
  color: @bg-bluishblack;
}

:-ms-input-placeholder {
  color: @bg-bluishblack;
}

input[type="range"] {
  width: 84px;
  height: 14px;
  padding-left: 6px;
  background-color: @bg-white;
  border: 1px solid @bg-darkgrey;
  border-radius: 6px;
  box-sizing: border-box;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

input[type="text"] {
  color: #000000;
}

input[name="login"] {
  max-width: 212px;
}

input[name="weight"] {
  max-width: 189px;
}

input[name="age"] {
  max-width: 156px;
  margin-bottom: 9px;
}

input[name="email"] {
  max-width: 218px;
}

input[name="phone"] {
  max-width: 200px;
}

.program-selection__user {
  width: 280px;
  height: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: @bg-bluishblack;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.5);
}

.program-selection__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .list-reset();
}

.program-selection__border {
  min-width: 253px;
  height: 156px;
  border: 1px solid rgba(205, 205, 205, 0.5);
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  display: block;
  margin: 0;
  margin-left: 63px;
  cursor: pointer;
  user-select: none;
}

.program-selection__radio {
  margin-bottom: 28px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: -8px;
  width: 29px;
  height: 29px;
  border: 1px solid @bg-darkgrey;
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: 2px;
  width: 12px;
  height: 12px;
  background-color: @bg-ligthgreen;
  border-radius: 50%;
}

input[type="radio"]:disabled + label {
  opacity: 0.3;
}

input[type="radio"]:hover + label::before,
input[type="radio"]:focus + label::before {
  border-color: @bg-darklygrey;
}

input[type="radio"]:active + label {
  border-color: @bg-darklygrey;
  opacity: 0.3;
}

.program-selection__case {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: stretch;
  min-height: 135px;
}

.program-selection__case p {
  margin: 0;
}

.program-selection__legend {
  position: relative;
  width: 185px;
  margin: 0;
  margin-left: 18px;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @bg-almostblack;

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: @bg-ligthgreen;
  }
}

.program-selection__contact {
  position: relative;
}

.program-selection__email {
  position: absolute;
  top: 31px;
  left: 265px;
}

input[type="email"]:focus + .program-selection__email,
input[type="email"]:active + .program-selection__email {
  fill: @bg-ligthgreen;
}

.program-selection__phone {
  position: absolute;
  top: 87px;
  left: 265px;
}

input[type="tel"]:focus + .program-selection__phone,
input[type="tel"]:active + .program-selection__phone {
  fill: @bg-ligthgreen;
}

.legend-contact::after {
  top: 15px;
  right: -115px;
  width: 99px;
}

.legend-contact {
  margin-bottom: 20px;
}

.email__wrapper {
  position: relative;
  margin-bottom: 12px;
}

.legend-comment::after {
  width: 158px;
  top: 21px;
  right: -183px;
}

.program-selection__comment textarea {
  margin-top: 34px;
  margin-left: 19px;
  margin-bottom: 23px;
  padding-top: 11px;
  padding-left: 15px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid @bg-darkgrey;
  }

  &:focus,
  &:active {
    border: 2px solid @bg-bluishblack;
    outline: none;
  }
}

.legend-optionally {
  margin-bottom: 39px;
}

.legend-optionally::after {
  width: 136px;
  top: 14px;
  right: -115px;
}

.optionally-wrapper {
  margin-bottom: 45px;
}

.program-selection__optionally {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 140px;
  min-height: 142px;
  .list-reset();
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  height: 14px;
  margin-left: 63px;
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: -4px;
  width: 28px;
  height: 28px;
  border: 1px solid @bg-darkgrey;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: -41px;
  top: 3px;
  width: 21px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="checkbox"]:disabled + label {
  opacity: 0.3;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before {
  border-color: @bg-darklygrey;
}

input[type="checkbox"]:active + label {
  border-color: @bg-darklygrey;
  opacity: 0.3;
}

.program-selection__button {
  margin-left: 19px;
  margin-bottom: 20px;
  padding: 11px 78px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.program-selection__necessary {
  margin-left: 84px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  font-family: "Arial MT", sans-serif;
  color: @bg-bluishblack;
}

@media (min-width: @tablet-width) {
  .program-selection {
    width: @tablet-width;
    margin-bottom: 72px;
    padding-top: 43px;
    padding-left: 9px;
  }

  .program-selection__main-title {
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }

  .program-selection__description {
    width: 323px;
    margin-left: 60px;
    margin-bottom: 63px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-selection__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    min-height: 210px;
    margin-bottom: 60px;
  }

  .program-selection__label {
    margin-left: 61px;
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection__user {
    width: 631px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }

  input[type] {
    height: 50px;
    padding-left: 19px;
    font-size: 20px;
    line-height: 20px;
  }

  input[type="range"] {
    width: 428px;
    height: 6px;
    padding-left: 0;
    background-color: @bg-gainsborough;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;

    &:hover {
      border: none;
    }
  }

  input[name="login"] {
    min-width: 568px;
  }

  input[name="weight"] {
    min-width: 541px;
  }

  input[name="age"] {
    min-width: 499px;
  }

  input[name="email"] {
    min-width: 555px;
  }

  input[name="phone"] {
    min-width: 533px;
  }

  .program-selection__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .list-reset();
  }

  .program-selection__radio {
    margin-bottom: 76px;
  }

  .program-selection__border {
    width: 628px;
    height: 194px;
    margin-left: 60px;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  input[type="radio"] + label {
    position: relative;
    display: block;
    margin: 0;
    margin-left: 88px;
    cursor: pointer;
    user-select: none;
  }

  input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: -60px;
    top: -9px;
    width: 38px;
    height: 38px;
    border: 1px solid @bg-darkgrey;
    border-radius: 50%;
  }

  input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: -49px;
    top: 2px;
    width: 18px;
    height: 18px;
    background-color: @bg-ligthgreen;
    border-radius: 50%;
  }

  .program-selection__case {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: stretch;
    min-height: 135px;
  }

  .program-selection__case p {
    margin: 0;
  }

  .program-selection__legend {
    position: relative;
    width: 185px;
    margin: 0;
    margin-left: 59px;
    padding: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: @bg-almostblack;

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      background-color: @bg-ligthgreen;
    }

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      background-color: @bg-ligthgreen;
    }
  }

  .legend-contact::after {
    top: 22px;
    right: -505px;
    width: 464px;
  }

  .legend-contact::before {
    top: 22px;
    left: -70px;
    width: 30px;
  }

  .program-selection__email {
    position: absolute;
    top: 18px;
    left: 654px;
  }

  input[type="email"]:focus + .program-selection__email,
  input[type="email"]:active + .program-selection__email {
    fill: @bg-ligthgreen;
  }

  .program-selection__phone {
    position: absolute;
    top: 90px;
    left: 654px;
  }

  input[type="tel"]:focus + .program-selection__phone,
  input[type="tel"]:active + .program-selection__phone {
    fill: @bg-ligthgreen;
  }

  .legend-contact {
    width: 512px;
    margin-bottom: 75px;
  }

  .program-selection__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    min-height: 125px;
  }

  .email__wrapper {
    margin-bottom: 65px;
  }

  .program-selection__comment textarea {
    width: 610px;
    height: 174px;
    margin-top: 75px;
    margin-left: 61px;
    margin-bottom: 9px;
    padding-top: 9px;
    padding-left: 17px;
  }

  .program-selection__comment {
    margin-bottom: 54px;
  }

  .legend-comment::after {
    top: 31px;
    right: -519px;
    width: 478px;
  }

  .legend-comment::before {
    top: 31px;
    left: -68px;
    width: 30px;
  }

  .legend-optionally {
    margin-bottom: 65px;
  }

  .legend-optionally::after {
    top: 21px;
    right: -488px;
    width: 447px;
  }

  .legend-optionally::before {
    top: 21px;
    left: -70px;
    width: 30px;
  }

  .optionally-wrapper {
    margin-bottom: 11px;
  }

  .program-selection__optionally {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    min-height: 146px;
    .list-reset();
  }

  input[type="checkbox"] + label {
    position: relative;
    display: block;
    width: 160px;
    margin-left: 116px;
    user-select: none;
  }

  .checkbox__item:nth-child(2n) label {
    margin-right: 0;
  }

  input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: -57px;
    top: -9px;
    width: 38px;
    height: 38px;
    border: 1px solid @bg-darkgrey;
  }

  input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: -46px;
    top: 3px;
    width: 21px;
    height: 16px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .program-selection__skin {
    display: flex;
  }

  .page-main .program-selection__button {
    margin-left: 62px;
    margin-bottom: 0;
    padding: 16px 65px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection__necessary {
    margin-left: 60px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
  }

  .program-selection__button {
    padding: 16px 65px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .program-selection {
    width: 1282px;
    margin-bottom: 82px;
    padding-top: 75px;
    padding-left: 38px;
  }

  .program-selection__main-title {
    margin: 0;
    margin-left: 2px;
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }

  .program-selection__description {
    width: 323px;
    margin-left: 2px;
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-selection__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    min-width: 568px;
    min-height: 208px;
    margin-right: 76px;
    margin-bottom: 0;
  }

  .program-selection__label {
    margin-left: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection__user {
    width: 436px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }

  input[name="login"] {
    min-width: 506px;
  }

  input[name="weight"] {
    min-width: 480px;
  }

  input[name="age"] {
    min-width: 438px;
  }

  input[name="email"] {
    min-width: 493px;
  }

  input[name="phone"] {
    min-width: 471px;
  }

  .program-selection__profile {
    display: flex;
    flex-direction: row;
    width: 1225px;
    height: 200px;
    margin-bottom: 66px;
  }

  .program-selection__border {
    width: 570px;
    margin: 0;
  }

  .program-selection__legend {
    position: relative;
    width: 185px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: @bg-almostblack;

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      background-color: @bg-ligthgreen;
    }

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      background-color: @bg-ligthgreen;
    }
  }

  .legend-contact::after {
    top: 22px;
    right: -819px;
    width: 778px;
  }

  .legend-contact::before {
    top: 22px;
    left: -111px;
    width: 70px;
  }

  .program-selection__email {
    position: absolute;
    top: 18px;
    left: 533px;
  }

  input[type="email"]:focus + .program-selection__email,
  input[type="email"]:active + .program-selection__email {
    fill: @bg-ligthgreen;
  }

  .program-selection__phone {
    position: absolute;
    top: 16px;
    left: 1181px;
  }

  input[type="tel"]:focus + .program-selection__phone,
  input[type="tel"]:active + .program-selection__phone {
    fill: @bg-ligthgreen;
  }

  .legend-contact {
    width: 512px;
    margin-bottom: 75px;
  }

  .program-selection__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1222px;
    min-height: 54px;
  }

  .program-selection__contact p {
    min-width: 570px;
    max-height: 54px;
  }

  .email__wrapper {
    margin-bottom: 66px;
  }

  .program-selection__comment textarea {
    width: 1220px;
    height: 175px;
    margin-top: 75px;
    margin-left: 2px;
    margin-bottom: 10px;
    padding-top: 9px;
    padding-left: 17px;
  }

  .program-selection__comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 57px;
  }

  .legend-comment::after {
    top: 22px;
    right: -1148px;
    width: 1112px;
  }

  .legend-comment::before {
    top: 22px;
    left: -106px;
    width: 70px;
  }

  .legend-optionally {
    margin-bottom: 66px;
  }

  .legend-optionally::after {
    top: 22px;
    right: -1121px;
    width: 1080px;
  }

  .legend-optionally::before {
    top: 22px;
    left: -106px;
    width: 70px;
  }

  .optionally-wrapper {
    margin-bottom: 52px;
  }

  .program-selection__optionally {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1122px;
    min-height: 40px;
    margin-right: 0;
    .list-reset();
  }

  input[type="checkbox"] + label {
    position: relative;
    display: block;
    width: auto;
    margin-left: 57px;
    margin-right: 0;
    user-select: none;
  }

  .checkbox__item:nth-child(3n) label {  /* Двигаю, потому что обычное space-between очень сильно отличается от макета у 2 и 3 li */
    margin-left: 88px;
  }

  .checkbox__item:last-child {  /* Двигаю, потому что обычное space-between очень сильно отличается от макета у 2 и 3 li */
    margin-right: 0;
    margin-left: 91px;
  }

  .program-selection__skin {
    display: flex;
  }

  .page-main .program-selection__button {
    margin-left: 2px;
    margin-bottom: 0;
    padding: 16px 208px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .program-selection__necessary {
    margin-left: 81px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
  }
}
