.report {
  margin: 0 auto;
  width: 320px;
  /* Временно для сетки */
  min-height: 480px;
}

.report__header {
  width: 320px;
  min-height: 440px;
}

.report__banner {
  width: 320px;
  min-height: 440px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.report__product {
  width: 100%;
  min-height: 362px;

  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 20px 76px;
  z-index: 1;
}

.report__slogan {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.report__intro {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.report__button {
  margin: 0 20px;
  padding: 12px 73px;
}

@media (min-width: @tablet-width) {
  .report {
    position: relative;
    min-width: @tablet-width;
  }

  .report__banner {
    position: relative;

    width: 768px;
    min-height: 837px;

    background-image: none;
    background-position: 100px 1px;
  }

  .report__product {
    position: absolute;
    top: 241px;
    left: 29px;

    width: 709px;
    height: 609px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .report__slogan {
    margin: 0;
    padding: 0;

    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    color: #000000;
  }

  .report__intro {
    margin: 0;
    padding: 0;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
  }

  .report .report__button {
    position: absolute;
    top: 269px;
    left: 98px;

    padding: 16px 27px;

    font-size: 20px;
    line-height: 20px;
    z-index: 10;
  }
}

@media (min-width: @desktop-width) {
  .report {
    min-width: @desktop-width;
  }

  .report__banner {
    position: relative;

    width: 1440px;
    min-height: 696px;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 719px 0;
    z-index: -1;
  }

  .report__product {
    position: absolute;
    top: 142px;
    left: 560px;

    width: 552px;
    height: 499px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .report .report__button {
    position: absolute;
    top: 456px;
    left: 169px;

    padding: 16px 27px;

    font-size: 20px;
    line-height: 20px;
    z-index: 10;
  }
}
