.report {
  margin: 0 auto;
  min-width: 320px;
  /* Временно для сетки */
  min-height: 480px;
}

@media (min-width: @tablet-width) {
  .report {
    /* Временно для сетки */
    min-height: 840px;
  }
}

@media (min-width: @desktop-width) {
  .report {
    /* Временно для сетки */
    min-height: 554px;
  }
}

.report__slogan {
  position: absolute;

  margin: 0 auto;
  padding: 0;

  text-align: center;
  //vertical-align: middle;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.report__intro {
  position: absolute;

  margin: 0 auto;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  //vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
}

.report__banner {
  background-color: #63a73a;
}

.report__button {
  margin: 0 20px;
  padding: 14px 73px;
}
