@import "font";
@import "effects";
@import "page-header";
@import "mian-nav";
@import "visually-hidden";
@import "button";
@import "work-principles";
@import "page-footer";
@import "catalog";
@import "example";
@import "contacts";
@import "optional-goods";
@import "program-selection";
@import "variables";
@import "mixins";
@import "report";

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Oswald", "Arial MT", "Arial", "Verdana", "Helvetica", sans-serif;
  color: @bg-bluishblack;
  font-style: normal;

  background-color: @bg-white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
